 @model CloudIceTaskShopInventory.Models.InventoryCatogory
@{
    ViewData["Title"] = "Index";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Inventories" asp-action="Index" method="get">
    <p>
        <select asp-for="ProductCatogory" asp-items="Model.catogry">
            <option value="">All</option>
        </select>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.products![0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products![0].LastOrderedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products![0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products![0].Catogory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.products!)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastOrderedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catogory)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
